<%
Date.prototype.ddmmyyyyhhmm = function() {
    var mm = this.getMonth() + 1;
    var dd = this.getDate();

    var HH = this.getHours();
    var MM = this.getMinutes();
    return ((dd>9 ? '' : '0') + dd) + '-' + ((mm>9 ? '' : '0') + mm) +  '-' + this.getFullYear() + ' ' +
            ((HH > 9 ? '' : '0') + HH) + ':' + ((MM > 9 ? '' : '0') + MM);
};
%>

<tr class="topic-row">
    <td class="topic-name"><a href="<%= url%>/posts/?topic_id=<%= encodeURI(topic.topic_id)%>"><%= topic.topic_name%></a></td>
    <td class="authors"><%= topic.authors_num%></td>
    <td class="num-posts"><%= topic.posts_num%></td>
    <td class="last-post">
        <% if (topic.last_post_user_login != null) { %>
        <a href="<%= url%>/posts/?topic_id=<%= encodeURI(topic.topic_id)%>"><%= topic.last_post_user_login %> op <%=  new Date(topic.last_post_time.replace(/\s/, 'T')).ddmmyyyyhhmm() %></a>
        <% } else { %>
            -
        <% } %>
    </td>
</tr>