<%
Date.prototype.ddmmyyyyhhmm = function() {
    var mm = this.getMonth() + 1;
    var dd = this.getDate();

    var HH = this.getHours();
    var MM = this.getMinutes();
    return ((dd>9 ? '' : '0') + dd) + '-' + ((mm>9 ? '' : '0') + mm) +  '-' + this.getFullYear() + ' ' +
            ((HH > 9 ? '' : '0') + HH) + ':' + ((MM > 9 ? '' : '0') + MM);
};
%>

<tr class="categories-row">
    <td class="cat-name"><a href="<%= url%>/topics/?cat_name=<%= encodeURI(category.cat_name)%>"><%= category.cat_name%></a></td>
    <td class="onderwerpen"><%= category.topics_num%></td>
    <td class="berichten"><%= category.posts_num%></td>
    <td class="last-post">
        <% if (category.last_topic_id != null) { %>
        <a href="<%= url%>/posts/?topic_id=<%= encodeURI(category.last_topic_id)%>">in <%= category.last_topic_name%> at <%=  new Date(category.last_post_time).ddmmyyyyhhmm() %></a>
        <% } else { %>
        -
        <% } %>
    </td>
</tr>