<tr class="post-row">


        <% if (post.is_anonym == 0) {%>
            <td class="user-info">

                <img src="<%= post.photo %>">

                <a class="dropdown" style='right:0;'>
                    <div class="name"><%= post.login %></div>
                    <div class="dropdown-content">
                        <p class="send-message">Send message</p>
                    </div>
                </a>

            </td>
        <% } else { %>
                <td class="user-info">

                    <img src="<%= url %>/images/user.png">

                    <a>Anonym</a>
                </td>
        <% } %>
    <td class="post-text">
        <span class="post-id"><%= post.post_id %></span>

        <p class="text-post">
            <% if (post.is_reaction == 1) { %>
                <div class="respond-message">
                <% if (post.user_respond_to != null && post.respond_message != null) { %>
                <span class="respond-to-user"> <%= post.user_respond_to %>: </span>
                <div class="text-post-message"><%= post.respond_message.substring(0, 75) + ((post.respond_message.length <= 75)? '': "...") %></div>
                <% } else { %>
                <div class="text-post-message">The post was deleted</div>
                <% } %>
                </div>
            <% } %>



        <div class="message"><%- post.post_message.replace(/\n/g, '<br>') %></div>
        </p>

        <span class="date"><%= new Date(post.create_timestamp).ddmmyyyyhhmm() %></span>

        <span class="like-number"><%= post.n_likes %></span>
        <span class="reaction-number"><%= post.n_responds %></span>

        <img src="<%= url %>/images/like-empty.svg" class="empty-like <% if (post.liked) { %>
            <%= " none"%>
        <% }%>">
        <img src="<%= url %>/images/like-full.svg" class="full-like <% if (!post.liked) { %>
            <%= " none"%>
        <% }%>">

        <img src="<%= url %>/images/comment-full.svg" class="comment-full none">
        <img src="<%= url %>/images/comment-empty.svg" class="comment-empty">


        <% if (user_id != 0) { %>
        <div class="dropdown">
            <img src="<%= url %>/images/more.svg">
            <div class="dropdown-content">
                <% if (post.user_id == user_id || role == 'administrator' || role == 'adviser') { %>
                    <p class="edit">Edit</p>
                    <p class="delete">Delete</p>
                <% }%>
                <% if (post.user_id != user_id ) { %>
                    <p class="report">Report</p>
                <% }%>
            </div>
        </div>
        <% }%>
        <% if (post.user_id == user_id) { %>
        <div class="content-edit none">
            <div class="text-enter-container">
                <textarea class="edit-textarea"></textarea>
                <div class="right-align">
                <button class="save-butt">Save
                </button></div>
            </div>
        </div>
        <% }%>
    </td>
</tr>